@using Project.Data.Entities;




@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="basic-button" @onclick="@GetFromDBSynchronous">
    <i class="material-icons">Search Synchronous</i>
</button>

<div></div>

<button class="basic-button" @onclick="@GetFromDBAsynchronous">
    <i class="material-icons">Search Asynchronous</i>
</button>

<button class="basic-button" @onclick="@GetFromDBAsyncEnumerable">
    <i class="material-icons">IAsyncEnumerable</i>
</button>



@{
    if (this.StockPricesSynchronous != null)
    {
        foreach (var item in this.StockPricesSynchronous)
        {
            <div>@item.Id</div>
        }
    }
}

<div></div>
<div></div>
<div></div>
<div></div>

@{
    if (this.StockPricesAsynchronous != null)
    {
        foreach (var item in this.StockPricesAsynchronous)
        {
            <div>@item.Id</div>
        }
    }
}


<div></div>
<div></div>
<div></div>
<div></div>

@{
    if (this.StockPricesIAsyncEnumerable != null)
    {
        foreach (var item in this.StockPricesIAsyncEnumerable)
        {
            <div>@item.Id</div>
        }
    }
}